

input[type="text"],input[type="password"],select
{
	font-family:calibari;
	color:black;
	font-size: 20px;
	width: 200px;
	background-color:yellowgreen;

	
}
table
{
	font-family: arial;



	
	font-size: 20px;
	color:blue;
	border-spacing: 30px;
	
}
input[type="submit"],input[type="button"]
{
	font-family: arial;
	font-size: 25px;
	width:156px;
	height:35px;
	font-style: italic;
	border-color: blue;
	color:crimson;
}